@import '../../variables.scss';

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  width: 100%;
  min-height: 60px;
  background-color: $gray;
  box-shadow: 0px -5px 5px $aqua;
  position: sticky;
  bottom: 0;
  z-index: 10;
}

.pagination__pages {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
  height: 100%;
  padding: 0 5px 0 5px;
  overflow: hidden;
}
