@import '../../variables.scss';

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100vw;
  height: 100vh;
}

.not-found__image {
  display: block;
  width: 320px;
  height: 320px;
  border-radius: 10%;
  animation: shadowPulse 0.5s infinite ease-in-out;
}

.not-found__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  @include title-text;
  font-size: 40px;
  color: $aqua;
  text-align: center;
}

.not-found__link {
  text-decoration: underline;
  text-underline-offset: 2px;
  transition: text-underline-offset 0.1s ease;
  color: $aqua;

  &:hover {
    text-underline-offset: 5px;
    transition: text-underline-offset 0.1s ease;
  }
}

