@import '../../variables.scss';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 8px;
  border: 3px solid $aqua;
  border-radius: 10px;
  @include text;
  font-size: 18px;
  background-color: $aqua-focus;
  transition: box-shadow 0.2s ease, margin-bottom 0.2s ease;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 5px 5px $aqua;
    margin-bottom: 5px;
    transition: box-shadow 0.2s ease, margin-bottom 0.2s ease;
  }

  &:active {
    margin-bottom: 2px;
    box-shadow: 0px 2px 5px $aqua;
    transition: box-shadow 0.2s ease, margin-bottom 0.2s ease;
  }
}