@import '../../variables.scss';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  min-width: 50px;
  height: 40px;
  padding: 8px;
  border: 3px solid $aqua;
  border-radius: 10px;
  @include text;
  font-size: 18px;
  white-space: nowrap;
  background-color: $aqua-focus;
  transition: box-shadow 0.2s ease, transform 0.2s ease;

  &:hover:not(:disabled) {
    cursor: pointer;
    box-shadow: 0px 5px 5px $aqua;
    transform: translateY(-5px);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
  }

  &:active:not(:disabled) {
    transform: translateY(-2px);
    box-shadow: 0px 2px 5px $aqua;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.button--current {
  background: linear-gradient($aqua-focus 65%, $aqua);
}
