@import '../../variables.scss';

.cards-container {
  display: grid;
  justify-content: center;
  align-items: start;
  grid-template-columns: repeat(auto-fill, 320px);
  gap: 50px 50px;
  width: 100%;
  height: 100%;
  padding: 50px;
  overflow-y: auto;
  overflow-x: hidden;
}
