@import '../../variables.scss';

.card {
  display: flex;
  flex-direction: column;
  width: 320px;
  border: 5px solid $aqua;
  border-radius: 10px;
  background-color: $gray;
  box-shadow: 0px 10px 15px $aqua;
}

.card__name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 40px;
  padding: 8px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: $aqua-focus;
  @include title-text;
  font-size: 32px;
  color: $aqua;
  text-align: center;
}

.card__description {
  display: flex;
  flex-direction: column;
}

.card__property {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 40px;
  padding: 0px 8px;
  border-top: 5px solid $gray-focus;
  @include text;
  font-size: 24px;

  :first-child{
    display: flex;
    width: 50%;
  }

  :last-child {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    padding: 8px;
    text-align: end;
  }
}
