/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[11].use[5]!./src/pages/NotFoundPage/NotFoundPage.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
:root {
  --aqua: #63f5ff;
  --aqua-focus: #004747;
  --gray: #414040;
  --gray-focus: #272727;
}

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100vw;
  height: 100vh;
}

.not-found__image {
  display: block;
  width: 320px;
  height: 320px;
  border-radius: 10%;
  animation: shadowPulse 0.5s infinite ease-in-out;
}

.not-found__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Prototype", sans-serif;
  letter-spacing: 0px;
  color: var(--aqua);
  font-size: 40px;
  color: var(--aqua);
  text-align: center;
}

.not-found__link {
  text-decoration: underline;
  text-underline-offset: 2px;
  transition: text-underline-offset 0.1s ease;
  color: var(--aqua);
}
.not-found__link:hover {
  text-underline-offset: 5px;
  transition: text-underline-offset 0.1s ease;
}
