@use '../../variables.scss' as vars;

.modal-registration {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: vars.$gray;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    z-index: 1000;
}