:root {
  --aqua: #63f5ff;
  --aqua-focus: #004747;
  --gray: #414040;
  --gray-focus: #272727;
}

$aqua: var(--aqua);
$aqua-focus: var(--aqua-focus);
$gray: var(--gray);
$gray-focus: var(--gray-focus);

@mixin text {
  font-family: 'Prototype', sans-serif;
  letter-spacing: 1px;
  color: $aqua;
}

@mixin title-text {
  font-family: 'Prototype', sans-serif;
  letter-spacing: 0px;
  color: $aqua;
}
